* {
  margin: 0;
  padding: 0;
  border: 0;
}

#top{
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 120px;
}

#top-container{
  border-bottom: 10px white solid;
  height: 35px;
  width: 100%;
}

#top-inner{
  border-bottom: 5px white solid;
  height: 20px;
  width: 100%;
}

#bottom{
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 120px;
  text-align: center;
}

#bottom-container{
  border-bottom: 5px white solid;
  height: 25px;
  width: 100%;
}

#bottom-inner{
  border-bottom: 10px white solid;
  height: 5px;
  width: 100%;
}
 
#container{
  border-right: 10px black solid;
  height: 100%;
  width: 30px;
  float: left;
  display: inline-block;
}

#inner{
  border-right: 5px black solid;
  height: 100%;
  width: 15px;
  float: left;
  display: inline-block;
}

#main {
  margin: 90px 0;
  text-align: center;
}

#VG {
  width: 60%;
  display: inline-block;
  margin: 0 auto;
}

.bottom{
  display: inline-block;
  margin: 15px 10px 0 10px;
}

#contact-cursive{
  margin: 15px auto 0 auto;
  background: white url("../img/Contact-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 350px 200px;
  padding: 0px 15px 0 15px;
}

#contact-cursive:hover {
  margin: 15px auto 0 auto;
  background: white url("../img/Contact.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 450px 300px;
  padding: 0px 15px 0 15px;
} 


#scripts-cursive{
  background: white url("../img/Scripts-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 275px 250px;
  padding: 0px 15px 0 15px;
}

#scripts-cursive:hover{
  background: white url("../img/Scripts.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 450px 300px;
  padding: 0px 15px 0 15px;
}

#ec-cursive{
  background: white url("../img/EntityCity-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 375px 125px;
  padding: 0px 15px 0 15px;
}

#ec-cursive:hover{
  background: white url("../img/EntityCityLink.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 400px 150px;
  padding: 0px 15px 0 15px;
}

#stories-cursive{
  background: white url("../img/Stories-Cursive.svg") center no-repeat;  
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 325px 175px;
  padding: 0px 15px 0 15px;
}

#stories-cursive:hover{
  background: white url("../img/Stories.svg") center no-repeat;  
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 350px 200px;
  padding: 0px 15px 0 15px;
}

