.bottom{
  display: inline-block;
  margin: 15px 10px 0 10px;
}

.top{
  margin: 20px auto 0 auto;
}

#contact-cursive{
  background: white url("../svg/cursive/Contact-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 350px 200px;
  padding: 0px 15px 0 15px;
}

#contact-cursive:hover {
  background: white url("../svg/print/Contact.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 450px 300px;
  padding: 0px 15px 0 15px;
} 

#scripts-cursive{
  background: white url("../svg/cursive/Scripts-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 275px 250px;
  padding: 0px 15px 0 15px;
}

#scripts-cursive:hover{
  background: white url("../svg/print/Scripts.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 450px 300px;
  padding: 0px 15px 0 15px;
}

#ec-cursive{
  background: white url("../svg/cursive/EntityCity-Cursive.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 375px 125px;
  padding: 0px 15px 0 15px;
}

#ec-cursive:hover{
  background: white url("../svg/print/EntityCityLink.svg") center no-repeat;
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 400px 150px;
  padding: 0px 15px 0 15px;
}

#stories-cursive{
  background: white url("../svg/cursive/Stories-Cursive.svg") center no-repeat;  
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 325px 175px;
  padding: 0px 15px 0 15px;
}

#stories-cursive:hover{
  background: white url("../svg/print/Stories.svg") center no-repeat;  
  height: 50px;
  width: 150px;
  background-size: cover;
  background-size: 350px 200px;
  padding: 0px 15px 0 15px;
}